<%- include page/header %>
<meta http-equiv="refresh" content="600" />
<!--<%= JSON.stringify(user) %>-->
    <div v-if="alertMsg.length>0" class="alert alert-danger" role="alert">
	  <strong>{{alertMsg}}</strong>
	</div>
	<div class="BG-Average">
    	<table style="width:100%">
			<tr>
				<td style="width:15%;height:30px;">選擇分區</th>
				<td style="width:15%">選擇電表</th>
				<td style="width:30%">選擇日期</th>
				<td style="width:20%"></th>
				<td style="width:20%"></th>
			</tr>
			<tr>
				<td>
					<select v-model="selectedZone" @change="changeZone(selectedZone)">
					  <option v-for="zone in zoneList" v-bind:value="zone.name">
					    {{ zone.name }}
					  </option>
					</select>
				</td>
				<td>
					<select v-model="selectedSensor" @change="selectSensor">
					  <option v-for="sensor in sensorList" v-bind:value="sensor.device_mac">
					    {{ sensor.device_name }}
					  </option>
					</select>
				</td>
				<td>
					<div  class="input-group input-daterange">
				        <div class="input-group-addon">從</div>
					    <input id="from" name="from" type="text" class="form-control">
					    <div class="input-group-addon">到</div>
					    <input id="to" name="endDate" type="text" class="form-control">
			        </div>
				</td>
				<td align='center' valign="middle">
				    <button type="button" class= "btn btn-info" @click="pressQuery">
					    <span class="fa fa-search fa-1x"></span>
						查詢
					</button>
					<button  v-if="!isIndex" type="button" class= "btn" onClick="search()">
					    <span class="fa fa-history fa-1x"></span>
					    返回
					</button>
					<button  v-if="isIndex" type="button" class= "btn btn-success" @click="enableSetting">
					    <span class="fa fa-pencil fa-1x"></span>
						設定
					</button>
				</td>
				<td>
					<font color="red">{{result}}</label></font>
				</th>
			</tr>
	    </table>
    </div>
    <div  class="col-sm-12 col-md-12">
    	<br>
    </div>
	<div>
	    <div v-show = "isIndex">
	        <div v-show="isSetting">
	            <div class="BG-Average-Setting">
					<!-- Profile setting -->

					<div class="form-check form-check-inline col-sm-6 col-md-2">
					  <input class="form-check-input" type="radio" value="show" v-model="profile.monthPower" checked >
					  <label class="form-check-label" for="exampleRadios1">
					    放大電表本月度數
					  </label>
					</div>
					<div class="form-check form-check-inline col-sm-6 col-md-10">
					  <input class="form-check-input" type="radio" value="hide" v-model="profile.monthPower" >
					  <label class="form-check-label" for="exampleRadios2">
					    縮小電表本月度數
					  </label>
					</div>
					<hr>
					<hr>
					<div class="form-check form-check-inline col-sm-6 col-md-2">
					  <input class="form-check-input" type="radio" value="show" v-model="profile.detail" checked >
					  <label class="form-check-label" for="exampleRadios1">
					    顯示電表細項
					  </label>
					</div>
					<div class="form-check form-check-inline col-sm-6 col-md-10">
					  <input class="form-check-input" type="radio" value="hide" v-model="profile.detail" >
					  <label class="form-check-label" for="exampleRadios2">
					    隱藏電表細項
					  </label>
					</div>
					<hr>
					<hr>
					<hr>
					<div class="col-sm-2 col-md-2"></div>
					 <div class="col-sm-2 col-md-2">
							<button  type="button" @click="cancelSetting">
							    <span class="fa fa-times fa-2x"></span>
							    取消
							</button>
					  </div>
					  <div class="col-sm-2 col-md-2">
						    <button  type="button" class="btn btn-primary" @click="saveSetting">
							    <span class="fa fa-floppy-o fa-1x"></span>
								  儲存
							</button>
					  </div>

				</div>
			</div>
			<div >
				<div v-for="sensor in sensorList" class="col-sm-12 col-md-6 col-lg-6" @click="selectMac(sensor.device_mac)">
			        <div class="BG-Average">
			            <div v-show="profile.monthPower=='show'" class="Meter0">
			              {{sensor.device_name}}
			            </div>
			            <div v-show="profile.monthPower=='hide'" class="Meter0_1">
			              {{sensor.device_name}}
			              <label class="Meter0_1_MonthPower">
			                  本月度數 : {{sensor.monthPower}} 度
			              </label>
			            </div>
			            <div v-show="profile.monthPower=='show'" class="Meter1">
			                <div class="col-sm-12 col-md-12">
			                	<label class="Meter-Power-Title">本月度數</label>
			                </div>
			            	<div v-if="sensor.event.information" class="col-sm-12 col-md-12 Meter-Power">
			            		<label class="Meter-Power-Value">{{sensor.monthPower}}</label>
	                            <label class="Meter-Power-Unit">度</label>
			            	</div>
						</div>
						<div v-show="profile.detail=='show'" class="Meter2">
						    <table  style="width:100%">
						    	<tr v-if="sensor.event.information">
						    	    	<th style="width:22%">本月起始度數</th>
									    <th style="width:28%">{{sensor.startPower}} 度</th>
									    <th style="width:22%">總有效功率</th>
									    <th style="width:28%">{{sensor.event.information.Psum}} W</th>
								</tr>
								<tr v-else>
									<th>尚無上報資料</th>
								</tr>
								<tr v-if="sensor.event.information">
									<th>目前度數</th>
								    <th>{{sensor.event.information.Esum}} 度</th>
								    <th>總無效功率</th>
								    <th>{{sensor.event.information.Qsum}} W</th>
								</tr>
								<tr v-else>
									<th>&nbsp;</th>
								</tr>
                                <tr v-if="sensor.event.information">
								    <th>平均相電壓</th>
								    <th>{{sensor.event.information.Ulpavg}} V</th>
								    <th>總視在功率</th>
								    <th>{{sensor.event.information.Psum}} W</th>
								</tr>
								<tr v-else>
									<th>&nbsp;</th>
								</tr>
								<tr v-if="sensor.event.information">
								    <th>平均線電壓</th>
								    <th>{{sensor.event.information.Ullavg}} V</th>
								    <th>有效電能</th>
								    <th>{{sensor.event.information.Ea}} 度</th>
								</tr>
								<tr v-else>
									<th>&nbsp;</th>
								</tr>
								<tr v-if="sensor.event.information">
								    <th>平均功率因數</th>
								    <th>{{sensor.event.information.Pf}}</th>
								    <th>無效電能</th>
								    <th>{{sensor.event.information.Er}} 度</th>
								</tr>
								<tr v-else>
									<th>&nbsp;</th>
								</tr>
								<tr v-if="sensor.event.information">
								    <th>平均電流</th>
								    <th>{{sensor.event.information.Iavg}} A</th>
								    <th>總二氧化碳</th>
								    <th>{{sensor.event.information.CO2}}</th>
								</tr>
								<tr v-else>
									<th>&nbsp;</th>
								</tr>
								<tr v-if="sensor.event.information">
								    <th>中性線電流</th>
								    <th>{{sensor.event.information.In}} A</th>
								    <th>更新時間</th>
								    <th>{{sensor.event.date}}</th>
								</tr>
								<tr v-else>
									<th>&nbsp;</th>
								</tr>
						    </table>
						</div>
			    </div>
		    </div>
			</div>
	    </div>
	    <div v-show = "!isIndex">
	      <div>
	        <div class="BG-Average-Copy">
					<!-- Profile setting -->
					<table id="table1"  class="display" cellspacing="0" width="100%">
						<thead>
							<tr style="color:#428bca">
								<th>項目</th>
								<th>時間</th>
								<th>平均相電壓</th>
								<th>平均線電壓</th>
								<th>平均電流</th>
								<th>中性線電流</th>
								<th>總有效功率</th>
								<th>總無效功率</th>
								<th>總視在功率</th>
								<th>平均功率因數</th>
								<th>有效電能</th>
								<th>無效電能</th>
								<th>總二氧化碳量</th>
								<th>總度數</th>
							</tr>
						</thead>
					</table>

					<div v-show="!isSetting">
						    <div v-show="isChart">
		                    <div style="width:90%;">
							    <canvas id="canvas"></canvas>
							</div>
							<br>
							<br>
						</div>
					</div>
	        </div>
	      </div>
	    </div>
		<input id="sensorList" name="sensorList" type="hidden" value="<%= JSON.stringify(sensorList) %>">
		<input id="zoneList" name="zoneList" type="hidden" value="<%= JSON.stringify(zoneList) %>">
		<input id="profile" name="profile" type="hidden" value="<%= JSON.stringify(profile) %>">
		<input id="user" name="user" type="hidden" value="<%= JSON.stringify(user) %>">
		<!-- （Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content"  >
					<div class="modal-header " style="background-color:#357ebd;">
						<button type="button" class="close"
						data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h3 class="modal-title" id="myModalLabel">
							<p style="color:white">Option</p>
						</h3>
					</div>

					<div class="modal-body">
						<div class="col-md-12" >
                            <!--<label>From :</label>
							<input type="text" id="startDate" name="startDate" size="10"  readonly>
							<input type="button" value="..." id="BTN" name="BTN"><br>
                            <br>
							<label>&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp; :</label>

							<input type="text"  size="10"  readonly>
							<input type="button" value="..." id="BTN2" name="BTN2">
							<hr> -->
							<label>IPCAM :</label>
							<!--<select name="mac" class="selectpicker" id="mac">
								<option value="1c497b48bb40">Search...</option>
							</select>-->
							<select v-model="selectedSensor" @change="selectSensor">
							  <option v-for="sensor in sensorList" v-bind:value="sensor.device_mac">
							    {{ sensor.device_name }}
							  </option>
							</select>
							<!--<br>
							<br>
							<label>Sensor :</label>
							<select v-model="selectedSensor" @change="selectSensor">
							  <option v-for="sensor in sensorList" v-bind:value="sensor.device_mac">
							     {{ sensor.device_name }} : {{ sensor.typeName }}
							  </option>
							</select>-->
  		                </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
						data-dismiss="modal">Close
						</button>
						<button type="button" class="btn btn-primary">
						Query
						</button>
					</div>
				</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->

<%- include page/footer %>