<%- include page/header %>
<meta http-equiv="refresh" content="600" />
<!--<%= JSON.stringify(user) %>-->
    <div v-if="alertMsg.length>0" class="alert alert-danger" role="alert">
	  <strong>{{alertMsg}}</strong>
	</div>
	<div class="BG-Average">
    	<table style="width:100%">
			<tr>
				<td style="width:15%;height:30px;">選擇分區</td>
				<td style="width:15%">選擇電表</td>
				<td style="width:20%">選擇報表
						<select v-model="report.type" @change="changeType(report.type)">
				            <option v-for="option in options" v-bind:value="option.value" :key="option.value">
				              {{ option.text }}
				            </option>
				         </select>
				    日期
			    </td>
				<td style="width:20%"></td>
				<td style="width:30%"></td>
			</tr>
			<tr>
				<td>
					<select v-model="selectedZone" @change="changeZone(selectedZone)">
					  <option v-for="zone in zoneList" v-bind:value="zone.name">
					    {{ zone.name }}
					  </option>
					</select>
				</td>
				<td>
					<select v-model="selectedSensor" @change="selectSensor">
					  <option v-for="sensor in sensorList" v-bind:value="sensor.device_mac">
					    {{ sensor.device_name }}
					  </option>
					</select>
				</td>
				<td>
					<div  class="input-group input-daterange">
					    <input id="report" name="report" type="text" class="form-control">
					    <span class="input-group-addon">
	                        <span class="fa fa-calendar"></span>
	                    </span>
			        </div>
				</td>
				<td align='center' valign="middle">
				    <button type="button" class= "btn btn-info" @click="pressQuery">
					    <span class="fa fa-search fa-1x"></span>
						查詢
					</button>
				</td>
				<td>
					<font color="red">{{result}}</label></font>
				</td>
			</tr>
	    </table>
    </div>
    <div  class="col-sm-12 col-md-12">
    	<br>
    </div>
	<div>
        <div class="BG-Average-Copy">
				<!-- Profile setting -->
				<table id="table1"  class="display" cellspacing="0" width="200%">
					<thead>
						<tr style="color:#428bca">
							<th>項目</th>
							<th>開始時間</th>
							<th>開始度數</th>
							<th>結束時間</th>
							<th>結束度數</th>
							<th>總度數</th>
						</tr>
					</thead>
				</table>

				<div v-show="!isSetting">
					    <div v-show="isChart">
	                    <div style="width:90%;">
						    <canvas id="canvas"></canvas>
						</div>
						<br>
						<br>
					</div>
				</div>
        </div>
		<input id="sensorList" name="sensorList" type="hidden" value="<%= JSON.stringify(sensorList) %>">
		<input id="zoneList" name="zoneList" type="hidden" value="<%= JSON.stringify(zoneList) %>">
		<input id="profile" name="profile" type="hidden" value="<%= JSON.stringify(profile) %>">
		<input id="user" name="user" type="hidden" value="<%= JSON.stringify(user) %>">
		<!-- （Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content"  >
					<div class="modal-header " style="background-color:#357ebd;">
						<button type="button" class="close"
						data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h3 class="modal-title" id="myModalLabel">
							<p style="color:white">Option</p>
						</h3>
					</div>

					<div class="modal-body">
						<div class="col-md-12" >
                            <!--<label>From :</label>
							<input type="text" id="startDate" name="startDate" size="10"  readonly>
							<input type="button" value="..." id="BTN" name="BTN"><br>
                            <br>
							<label>&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp; :</label>

							<input type="text"  size="10"  readonly>
							<input type="button" value="..." id="BTN2" name="BTN2">
							<hr> -->
							<label>IPCAM :</label>
							<!--<select name="mac" class="selectpicker" id="mac">
								<option value="1c497b48bb40">Search...</option>
							</select>-->
							<select v-model="selectedSensor" @change="selectSensor">
							  <option v-for="sensor in sensorList" v-bind:value="sensor.device_mac">
							    {{ sensor.device_name }}
							  </option>
							</select>
							<!--<br>
							<br>
							<label>Sensor :</label>
							<select v-model="selectedSensor" @change="selectSensor">
							  <option v-for="sensor in sensorList" v-bind:value="sensor.device_mac">
							     {{ sensor.device_name }} : {{ sensor.typeName }}
							  </option>
							</select>-->
  		                </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
						data-dismiss="modal">Close
						</button>
						<button type="button" class="btn btn-primary">
						Query
						</button>
					</div>
				</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->

<%- include page/footer %>